body{
	background-color: #DCF1F9;
}
#whole_page{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	margin: 0;
}
header{
	grid-column: 1/6;
}
a{
	font-family: Calibre;
	font-style: normal;
	font-weight: 700;
	font-size: 23px;
	text-align: center;
	color: #799DAB;
	text-decoration: none;
}
.find_out_more{
	grid-column: 1/4;
	color: #799DAB;
	font-family: 'Calibre';
}
.find_out{
	font-size: 70px;
	margin-left: 20px;
	line-height: 42px;
	font-weight: 700;
/* fixed spacing*/
}
.ask_for_more{
	font-size: 35px;
	margin-left: 20px;
	font-weight: 500;
	line-height: 0px;

}
.or{
	font-size: 35px;
	margin-left: 20px;
	font-weight: 700;
	line-height: 42px;
}
.request_a_demonstration{
	font-size: 35px;
	margin-left: 20px;
	font-weight: 500;
	line-height: 42px;
}
.using_the_form{
	visibility: hidden;
}
.below{
	visibility: hidden;
}
form{
	grid-column: 4/7;
	position: relative;
	top: 150px;
}
input[type=text],input[type=email]{
	width: 94.5%;
	height: 66px;
	background-color: ghostwhite;
	cursor: auto;
	border: 0px;
}
textarea{
	width: 94.5%;
	resize: none;
	height: 200px;
	background-color: ghostwhite;
	border: 0px;
}
input[type=submit]{
	color: #799DAB;
	width: 123.75px;
	height: 40px;
	border-radius: 15px;
	background-color: #74DBF7;
	font-style: normal;
	font-weight: bolder;
	font-size: 25px;
	border: 0px;
	border: 0px
}
.label{
	color: #799DAB;
	font-weight: bolder;
	font-size: 30px;
	font-family: 'Calibre';
}
.the_circles{
	grid-column: 1/2;
	box-sizing: border-box;
	position: absolute;
	width: 250px;
	height: 250px;
	left: 96px;
	top: 600px;	
	border: 2px solid #799DAB;
	border-radius: 50%;
}
.circle_s{
	position: absolute;
	width: 227px;
	height: 110px;
	left: 13px;
	top: 75px;
	font-family: 'Calibre';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #799DAB;
}
.the_circles1{
	grid-column: 3/4;
	box-sizing: border-box;
	position: absolute;
	width: 250px;
	height: 250px;
	left: 450px;
	top: 600px;
	border: 2px solid #799DAB;
	border-radius: 50%;
}

.circle_s1{
	position: absolute;
	width: 227px;
	height: 110px;
	left: 13px;
	top: 75px;
	font-family: 'Calibre';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #799DAB;
}
footer{
	position: relative;
	top: 220px;
}




@media only screen and (max-width: 576px){
	.find_out_more{
		grid-column: 1/7;
	}
	.find_out{
		position: absolute;
		width: 403px;
		height: 48px;
		left: 46px;
		top: 101px;
		font-family: 'Calibre';
		font-style: normal;
		font-weight: 700;
		font-size: 40px;
		line-height: 36px;
		color: #799DAB;
		margin-left: 0px;

	}
	.ask_for_more{
		position: absolute;
		width: 291px;
		height: 79px;
		left: 46px;
		top: 190px;
		font-family: 'Calibre';
		font-style: normal;
		font-weight: 500;
		font-size: 25px;
		line-height: 24px;
		color: #799DAB;
		margin-left: 0px;
	}
	.using_the_form{
		visibility: visible;
	}
	.below{
		visibility: visible;
	}
	.or{
		visibility: hidden;
	}
	.request_a_demonstration{
		visibility: hidden;
	}
	form{
		grid-column: 1/7;
		position: absolute;
		left: 46px;
		top: 269px;
	}
	input[type=text],input[type=email]{
		width: 500px;
		height: 31px;
	}
	textarea{
		width: 500px;
		height: 196px;
	}
	input[type=submit]{
		width: 134px;
		height: 39.08px;
		background: #74DBF7;
		border-radius: 40px;
	}
	footer{
		grid-column: 1/7;
		display: flex;
		background-color: white;
		width: 100%;
		position: relative;
		top: 500px;
	}
	.the_circles{
		visibility: hidden;
	}
	.the_circles1{
		visibility: hidden;
	}
	.label{
		font-size: 25px;
	}
	.LocationEtc{
		visibility: hidden;
	}
	.ContactContainer{
		visibility: hidden;
	}
	.SocialContainer{
		position: absolute;
		right: 60px;
	}
}
@media screen and (min-width: 2000px) {
    footer{
		position: absolute;
		bottom: 0px;
		top: 1100px;
    }
    
    
}


