#grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
body{
    background-image: url("Resources/pexels-dana-tentis-370799.jpg");
    background-size: cover;
    margin: 0;
    padding: 0
}
#mainbox{
    grid-row-start: 2;
    grid-column: 1/6;
    justify-self: center;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    
}
.container {
    max-width: 1600px;
    margin: auto;
    width: 100%;
}
p{
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}
#vision{
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 84px;
    color: white;
    margin-bottom: 20px;
    margin-left: 20px;
}
h2{
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    color: white;
    margin-top: 40px;
}
a{
    text-decoration: none;
}
h2:hover{
    color: #C7EAF8;
}
#prodbox{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
}
#contacttext{
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #799DAB;
}
@media screen and (max-width: 576px) {
    #mainbox{
        grid-row-start: 2;
        grid-column: 1/6;
        justify-content: center;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-self: center;
        align-items: center;
        
    }
    #prodbox{
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
        
        
    }
    #vision{
        font-family: 'Calibre';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        color: white;
        text-align: center;
        margin-left: 0;
        margin-bottom: 0;
        line-height: 54px;
       
    }
    p{
        font-family: 'Calibre';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        color: #FFFFFF;
        text-align: center;
        margin-left: 0px;
        padding: 0;
        
    }
}
