#grid{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    width: 100%;
}
#mainbox{
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column: 1/6;
    display: flex;
    flex-direction: column;
    background-image: url("Resources/pexels-dana-tentis-370799.jpg");
}
header{
    display: flex;
    width: 100%;
    background-color: white;
    grid-row-start: 1;
    grid-column: 1/6;
}
