#container {
    height: 1000px;
	
    display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
}

main{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	
	grid-column: 1/6;
	grid-row: 1/6;
	margin-top: 110px;

	background-color: #DCF1F9;
}

#customerstories{
	grid-column: 1/6;
	grid-row: 1/2;
	margin-top: 25px;
	margin-bottom: 0px;
	padding-top: 16px;
	padding-left: 70px;
	height: 70px;
	
	font-family: 'Calibre';
	font-style: normal;
	font-weight: 700;
	font-size: 70px;
	line-height: 84px;

	background-color: #DCF1F9;
	color: #799DAB;
}

#story{
	display: flex;
	flex-direction: column;
	width: 60%;
}

.stories{
	font-family: 'Calibre';
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 30px;

	color: #799DAB;
}

#graphictext{
	display: flex;
	flex-direction: column;
	width: 20%;
}

.graphic{
	font-family: 'Calibre';
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 36px;
	text-align: center;

	color: #799DAB;
}

footer{
	grid-column: 1/6;
	grid-row: 6/6;
	
	background-color: green;
}