@font-face { font-family: CalibreSemibold; src: url(../Resources/Calibre-Semibold.otf)}
#container {
	
    display: grid;
	grid-template-columns: repeat(5,1fr);
}

body{
	background-color: #DCF1F9;
	margin: 0;
	padding: 0;
}

main{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	grid-column: 1/6;
	grid-row-start: 3;
	height: 640px;

	background-color: #DCF1F9;
}

#customerstories{
	grid-column: 1/6;
	grid-row-start: 2;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 20px;	
	font-family: 'Calibre';
	font-style: normal;
	font-weight: 700;
	font-size: 65px;
	line-height: 84px;
	
	background-color: #DCF1F9;
	color: #799DAB;
}

#story{
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	padding-top: 15px;
	width: 50%;
}

.stories{
	font-family: 'Calibre';
	font-weight: 650;
	font-size: 20px;
	line-height: 30px;

	color: #799DAB;
}

.storiesnames{
	margin-top: -18px;
	
	font-family: 'Calibre';
	font-style: italic;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	color: #799DAB;
}

#graphictext{
	display: flex;
	flex-direction: column;
	width: 50%;
}
@media screen and (min-width: 2000px) {
    footer{
        position: fixed;
        bottom: 0;
    }
    p{
        font-size: 50px;
	}
	.stories{
		font-size: 40px;
		line-height: 40px;
	}
	
	.storiesnames{
		margin-top: -18px;

		font-weight: 600;
		font-size: 40px;
		line-height: 40px;
	
		color: #799DAB;
	}
	#graphictext{
		width: 40%;
		margin-right: 70px;
	}
}
