header{
	display:flex;
	flex-direction: row;
	background-color: white;
}


.menu{
	display:inline;
	padding: 15px;
}

#img{
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	width: 25%;
	padding-left: 20px;
}

#updog{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	height: 30px;
	padding-top: 20px;
}
a{
	font-family: Calibre;
	font-style: normal;
	font-weight: 700;
	font-size: 23px;
	text-align: center;
	color: #799DAB;
	text-decoration: none;
}

footer{
	display: flex;
	background-color: white;
}

#ContactContainer{
	display: flex;
	width: 200px;
	font-family: Calibre;
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	color: #799DAB;
	padding-top: 30px;
	padding-left: 35px;
}

footer a{
	display: flex;
	margin: 25px;
	align-content: flex-start;
	color: #799DAB;
	font-family: Calibre;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
}

#SocialContainer{
	display: flex;
	padding-left: 730px;
	padding-top: 15px;
	font-family: Calibre;
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	color: #799DAB;
	
}