.menu{
	display:inline;
	padding: 15px;
}

#img{
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	width: 25%;
}

#updog{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}