#grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
	width: 100%;
    justify-content: center;
    grid-gap: 10px;
    font-family: 'Calibre';
    background-color: #DCF1F9;
}
body {
    background-color: #DCF1F9;
    margin: 0;
    padding: 0;
}
.logo {
    display: flex;
    margin: 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    white-space:nowrap;
    margin: 20px;
    padding-left: 20px;
}
br {
    display:block;
    content:"";
    margin-top:30px;
}
ul {
    padding:0;
    margin:0;
}
li {
    padding-left:80px;
    justify-content: space-between;
    margin-bottom: 70px;
    display:inline;
}
main {
    grid-column: 1/6;
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color:#799DAB;
}
.container {
    max-width: 1800px;
    margin: auto;
    width: 100%;
}
main>.Workspace {
    flex-direction: column;
    background-color: #dcf1f9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.WorkspaceImage {
    background-image: url("Three-circles.png");
    background-size: 1000px;
    width: 1000px;
    height: 700px;
}


.prices {
    grid-column: 1/6;
    vertical-align: baseline;
    line-height: 1;
    flex-wrap:wrap;
    box-sizing: border-box;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    flex-direction: row;
}
.prices>img {
    display:flex;
    max-width: 50%;
    flex-direction: row;
    padding-left: -50px;
    padding-right: -50px;
    margin: 0px;
}

#prodbox{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    grid-column: 1/6;
    
}
.prodlink{
    text-decoration: none;
    color: #74DBF7;
    text-align: center;
    height: fit-content;
    font-size: 30px;
}
.CircleWorkspaceHeader {
    border-bottom: 2px solid #74DBF7;
    border-left-width: 50px;
    padding-left: -50px;
    color: #74DBF7;
    text-align: center;
    height: fit-content;
    font-size: 20px;
}
.WorkspaceContent {
    grid-column: 1/6;
    font-size: 8px;
    font-family: 'Calibre';
    display: flex;
    justify-content: space-evenly;
}
.WorkspaceContent>p {
    color: #799DAB;
}
.BlueCircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: #74DBF7;
    background-color: rgba(0, 0, 0, 0);
}
.TeamCompanyImage {
    display: flex;
    justify-content: center;
    flex-direction:column;
    width: 300px;
    height: 400px;
}
footer{
    display: flex;
    background-color: white;
}

.ContactContainer{
    display: flex;
    width: 200px;
    font-family: 'Calibre';

}

footer a{
    display: flex;
    margin: 25px;
    align-content: flex-start;
    color: #799DAB;
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}
footer img{
    padding-right: 5px;
}


#dots {
	grid-column: 1/6;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

#dottitle{
	width: 100%;
    margin-left: 20px;
}

.circles {
	display: flex;
	align-items: center;	
	text-align: center;
	
	height: 240px;
	width: 240px;
	margin-left: 20px;
	border-style: solid;
	border-width: 10px;
	border-color: white;
	border-radius: 200px;
}

.dottext{
	font-size: 28px;
	
	margin-top: 90px;
	padding-left: 30px;
	width: 70%;
}

.SocialContainer {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: #799DAB;

}

hr {
    display: block;
	height: 10px;
    width: 100%;
	background-color: white;
    border: 0;
	margin-left: -20px;
}

.SocialMedia{
    display: flex;
    justify-content: space-between;
    width: 230px;
}

#FindContainer{
    padding-left: 50px;
}



@media screen and (max-width: 576px) {
    p{
        margin-left: 10px;
        margin-right: 10px;
    }
    h3{
        margin-left: 10px;
    }
    main{
        width: 100%;
    }
    body{
        width: 100%;
    }
    #grid{
        width: 100%;
    }
}
@media screen and (max-width: 844px) {
    p{
        margin-left: 10px;
        margin-right: 10px;
    }
    h3{
        margin-left: 10px;
    }
    main{
        width: 100%;
    }
    body{
        width: 100%;
    }
    #grid{
        width: 100%;
    }
}