#grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    margin: 0 auto;
    justify-content: center;
    grid-gap: 10px;
    font-family: 'Calibre';
    background-color: white;
}
body {
    background-color: #DCF1F9;
}
header {
    grid-column: 1/6;
    font-family: 'Calibre';
    color:#799DAB;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
    margin: 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    white-space:nowrap;
    margin: 20px;
    padding-left: 20px;
}
br {
    display:block;
    content:"";
    margin-top:30px;
}
ul {
    life-style-type:none;
    padding:0;
    margin:0;
}
li {
    padding-left:80px;
    justify-content: space-between;
    margin-bottom: 70px;
    display:inline;
}
main {
    grid-column: 1/4;
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color:#799DAB;
}
main>.workspace {
    grid-column: 1/4;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
}
main>.ThreeCircles {
    display:flex;
    justify-content:center;
    position:relative;
    background-image: url("../Resources/circles.png");
    height: 625px;
}
.prices {
    grid-column: 2/4;
    vertical-align: baseline;
    line-height: 1;
    flex-wrap:wrap;
    box-sizing: border-box;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    flex-direction: row;
}
.prices>img {
    display:flex;
    max-width: 50%;
    flex-direction: row;
    padding-left: -50px;
    padding-right: -50px;
    margin:-10px;
}
footer {
    background-color: white;
    font-family: 'Calibre';
    color:#799DAB;

}