#grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    margin: 0 auto;
    justify-content: center;
    grid-gap: 10px;
    font-family: 'Calibre';
    background-color: white;
}
body {
    background-color: #DCF1F9;
}
.logo {
    display: flex;
    margin: 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    white-space:nowrap;
    margin: 20px;
    padding-left: 20px;
}
br {
    display:block;
    content:"";
    margin-top:30px;
}
ul {
    life-style-type:none;
    padding:0;
    margin:0;
}
li {
    padding-left:80px;
    justify-content: space-between;
    margin-bottom: 70px;
    display:inline;
}
main {
    grid-column: 1/4;
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color:#799DAB;
}
main>.workspace {
    grid-column: 1/4;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
}
.FirstCircle {
    grid-column: 2/5;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    display:flex;
}
.FirstCircle>.CircleOneImage {
    width: 310px;
    position: relative;
    display: flex;
    height: 310px;
    line-height: 50px;
    border: solid 0.3em #74DBF7;
    border-radius: 50%;
    font-size: 31px;
    color: #799DAB;
    align-items: center;
    justify-content: center;
    background: #DCF1F9;
}
.CircleOneImage p {
    font-size: 21px;
    font-style: italic;
    line-height: 1.25;
    padding: 0;
}
.SecondCircle {
    grid-column: 2/5;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    display:flex;
}
.SecondCircle>.CircleTwoImage {
    width: 310px;
    position: relative;
    display: flex;
    height: 310px;
    line-height: 50px;
    border: solid 0.3em #74DBF7;
    border-radius: 50%;
    font-size: 31px;
    color: #799DAB;
    align-items: center;
    justify-content: center;
    background: #DCF1F9;
}
.ThirdCircle {
    grid-column: 2/5;
    position:relative;
    flex-direction: row;
    justify-content: space-evenly;
    display:flex;
}
.ThirdCircle>.CircleThirdImage {
    width: 310px;
    position: relative;
    display: flex;
    height: 310px;
    line-height: 50px;
    border: solid 0.3em #74DBF7;
    border-radius: 50%;
    font-size: 31px;
    color: #799DAB;
    align-items: center;
    justify-content: center;
    background: #DCF1F9;
}
.prices {
    grid-column: 2/4;
    vertical-align: baseline;
    line-height: 1;
    flex-wrap:wrap;
    box-sizing: border-box;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    flex-direction: row;
}
.prices>img {
    display:flex;
    max-width: 50%;
    flex-direction: row;
    padding-left: -50px;
    padding-right: -50px;
    margin:-10px;
}

header{
    display:flex;
    background-color: white;
    flex-direction: row;
}


.menu{
    display:inline;
    padding: 15px;
}

#img{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: 25%;
    padding-left: 20px;
}

#updog{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 30px;
    padding-top: 20px;
}
a{
    font-family: Calibre;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    text-align: center;
    color: #799DAB;
    text-decoration: none;
}

footer{
    display: flex;
    background-color: white;
}

#ContactContainer{
    display: flex;
    width: 200px;
    font-family: Calibre;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: #799DAB;
    padding-top: 30px;
    padding-left: 35px;
}

footer a{
    display: flex;
    margin: 25px;
    align-content: flex-start;
    color: #799DAB;
    font-family: Calibre;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

#SocialContainer{
    display: flex;
    padding-left: 730px;
    padding-top: 15px;
    font-family: Calibre;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: #799DAB;

}